@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #a1b1c7;
}

.navbar {
  background-color: #a1b1c7 !important;
  box-shadow: none !important;
  max-width: 100% !important;
  border-radius: 0 !important;
}
